body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-style {
  margin-top: 100px;
}

.validation-color {
  color: red;
}

.form-group-style {
  padding-left: 10px;
}

.error-validation {
  position: absolute;
  margin-top: 35px;
  color: red;
}

.record-table {
  margin-top: 30px;
}
